<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Biblioteca UTEPSA
      </div>
    </h2>
    <%= form_for :login, url: auth_session_path, html:{class: 'ui form'} do |f| %>
      <div class="field">
        <label for="login_code">Registro</label>
        <%= f.text_field :code %>
      </div>
      <div class="field">
        <label for="login_password">Clave</label>
        <%= f.text_field :password %>
      </div>
      <%= f.submit 'Ingresar', class: 'ui fluid large teal submit button' %>
    <% end %>
  </div>
</div>
